/* You can add global styles to this file, and also import other style files */
@import "theme.scss";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-sticky-top {
    position: sticky;
    top: 0px;
    z-index: 2;
}
  
.app-sticky-toolbar {
    position: sticky;
    top: 15px;
    z-index: 3;
    // Given a max width to fix overriding the search input
    max-width: 125px;
}

.cal-day-headers {
    position: sticky;
    top: 64px;
    z-index: 1;
}
